/*
 *
 *
*/

header{
    height: 7vh;
    border-bottom: 1px solid #ddd;
    padding: 0 15%;
    
    display: flex;
    flex-direction: row;
    align-content: center;
}
header > div{
    align-self: center;
    height: auto;
}
.site-icon{
    width: 150px;
    height: 45px;
    
    align-self: center;
}
header  button{
    float: right;
    align-self: center;
    
    margin:  auto;
    border: 2px solid #2C80C9;
    border-radius: 10px;
    padding: 10px 20px;

    font-size: 1.05em;
    font-weight: bold;

    background: #fff;
    color: #CE4080;
}

/*  */
section{
    height: 100vh;
}

.left-sec, .right-sec{
    width: 50%;
    height: 93vh;
}
.left-sec{
    padding-left: 15%;
    background: url('../images/chess1.jpg');
    background-size: cover;
    background-position: right;
}
.left-sec > div{
    padding-right: 5%;
    padding-top: 20px;
}
.veil > div{
    background: rgba(255, 255, 255, 0.9);
}

.hobby-list-wrap{
    min-height: 200px;
    margin-top: 10px;
    padding: 0;
}
.hobby-list-wrap > h3{
    padding: 15px;
    padding-top: 25px;
    border-bottom: 1px solid #ddd; 
    font-weight: 600;
    color: #6D022E;
}
.hobby-list-wrap > h3 span{
    display: inline-block;
    float: right;
    width: auto;
    border: 1px solid ;
    border-radius: 5px;
    margin-top: -12px;
    padding: 10px 15px;
    padding-bottom: 6px;
    
    font-size: 0.9em;
    font-weight: 100;
    
    background: #6D022E;
    color: #fff;
}
#hobby-list{
    padding: 20px;
}
#hobby-list > span{
    display: inline-block;
    
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 2.5px 2px;
    padding: 10px 15px;
    background: #D4E4F7;
}


/*  */
.right-sec{
    padding-right: 15%;
}
.right-sec > div{
    height: 100%;
    overflow-y: scroll;
}
.outer-about-wrapper{
    width: 92.3%;
    
    margin-left: 7.5%;
}
.b-line{
    width: 0%;
    height: 100%;
    border-left: 1px solid #D0D9E0;
}
.about-wrapper{
    width: 92%;
    height: auto;
    margin-left: -15px;
}
.about-wrapper > div{
    align-self: center;
    
    padding: 15px 0;
}
.ball-point{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #fff;
      
    background: #CE6998;
}

.right-sec article
{
    width: 90%;
    float: left;
    display: block;
    height: auto;
    
    box-sizing: border-box;
    padding: 7px 15px;
}
.right-sec article h3{
    color: #CE4080;
}
.right-sec article p, li{
    font-size: 1.05em;
    color: #444;
}
.right-sec ol{
    margin-left: 10px;
    padding-left: 10px;
}
.right-sec ol li{
    display: list-item;
    padding-bottom: 5px;
}